{% extends "base.html" %}

{% block content %}

<section id="user_register">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card bg-primary text-center">
                    <div class="card-body text-light">
                        <h3>ログイン</h3>
                        <!--ログイン情報入力欄-->
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ render_field(form.email, placeholder="メールアドレス", class="form-control form-control-lg")}}
                            </div>
                            <div class="mb-3">
                                {{ render_field(form.password, placeholder="パスワード", class="form-control form-control-lg")}}
                            </div>
                            {{ form.submit(class="btn btn-outline-light w-100", value="ログイン") }}
                        </form>
                        <!--ログイン情報入力欄 end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}