{% extends "base.html" %}

{% block content %}

<section id="user_register">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card bg-primary text-center">
                    <div class="card-body text-light">
                        <h3>ユーザー登録</h3>
                        <p>ユーザー情報を入力してください。</p>
                        <!--ユーザー情報入力欄-->
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <!--username-->
                            <div class="mb-3">
                                {{ render_field(form.username, placeholder="ユーザー名", class="form-control form-control-lg")}}
                            </div>
                            <!--email-->
                            <div class="mb-3">
                                {{ render_field(form.email, placeholder="メールアドレス", class="form-control form-control-lg")}}
                            </div>
                            <!--email_confrim-->
                            <div class="mb-3">
                                {{ render_field(form.email_confirm, placeholder="メールアドレス(確認)", class="form-control form-control-lg")}}
                            </div>
                            <!--password-->
                            <div class="mb-3">
                                {{ render_field(form.password, placeholder="パスワード", class="form-control form-control-lg")}}
                            </div>
                            <!--password_confrim-->
                            <div class="mb-3">
                                {{ render_field(form.password_confirm, placeholder="パスワード(確認)", class="form-control form-control-lg")}}
                            </div>
                            <!--register_btn-->
                            {{ form.submit(class="btn btn-outline-light w-100") }}
                        </form>
                        <div class="mb-3">
                            <a href = "{{url_for('users.logout')}}" class="btn btn-secondary w-100" role="button">ログインへ戻る</a>
                        </div>
                        <!--ユーザー情報入力欄 end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}